* {
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

main {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Stack Sans Text", sans-serif;
}

#hello {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#register{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

